#inn{
    background-image: url('../images/pizza2.jpg');
    background-size: cover;
    height: 50vh;
    padding: 10%;
    border: 30%;
    padding-left: 20%;
}
h1{
    text-align: center;
    font-size: xx-large;
    font-weight: 1200;
}
.description{
    text-align: center;
    font-size: x-large;
    font-weight: 400;
    font-style: italic;
    color:white;
}
#paint{
    text-align: end;
    font-size: x-large;
    color:blue;
}
.offers{
    text-align: left;
    padding:5%;
    font-size:40px ;
    padding-top: 5%;
}